<div class="container-fluid">
  <div class="animated fadeIn">

    <br>
    <!-- /.row-->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">Productos</div>
          <div class="card-body">
            <h2>{{id ? 'Modificar' : 'Agregar'}} Producto</h2>
            <form [formGroup]="form">
              <div class="row">
                <div class="col-sm-12 col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input class="form-control" formControlName="nombre"  id="nombre" type="text" placeholder="Nombre"  [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
                    <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                      <div *ngIf="f.nombre.errors.required">El campo es requerido</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="codigo">Código</label>
                    <input class="form-control" formControlName="codigo" id="codigo" type="text" placeholder="Código"  [ngClass]="{ 'is-invalid': submitted && f.codigo.errors }">
                  </div>
                </div>

                <div class="col-sm-12 col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="categoria">Categoría</label>
                    <select class="form-control" formControlName="categoria"  id="categoria" type="text"  [ngClass]="{ 'is-invalid': submitted && f.categoria.errors }">
                      <option *ngFor="let categoria of categorias" title="Elija una categoría" [ngValue]="categoria.id">
                        {{categoria.nombre}}
                      </option>
                    </select>
                    <div *ngIf="submitted && f.categoria.errors" class="invalid-feedback">
                      <div *ngIf="f.categoria.errors.required">El campo es requerido</div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="unidad">Unidad</label>
                    <select class="form-control" formControlName="unidad" id="unidad" type="text" [ngClass]="{ 'is-invalid': submitted && f.unidad.errors }">
                      <option *ngFor="let unidad of unidades" title="{{unidad.id}}" [ngValue]="unidad.id">
                        {{unidad.nombre}}
                      </option>
                    </select>
                    <div *ngIf="submitted && f.unidad.errors" class="invalid-feedback">
                      <div *ngIf="f.unidad.errors.required">El campo es requerido</div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="precio_costo">Precio de costo</label>
                    <input class="form-control" formControlName="precio_costo"  id="precio_costo" type="number" placeholder="Precio de costo" [ngClass]="{ 'is-invalid': submitted && f.precio_costo.errors }">
                    <div *ngIf="submitted && f.precio_costo.errors" class="invalid-feedback">
                      <div *ngIf="f.precio_costo.errors.required">El campo es requerido</div>
                    </div>
                  </div>

                </div>

                <div class="col-sm-12 col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="precio_venta">Precio de venta</label>
                    <input class="form-control" formControlName="precio_venta"  id="precio_venta" type="number" placeholder="Precio de venta" [ngClass]="{ 'is-invalid': submitted && f.precio_venta.errors }">
                    <div *ngIf="submitted && f.precio_venta.errors" class="invalid-feedback">
                      <div *ngIf="f.precio_venta.errors.required">El campo es requerido</div>
                    </div>
                  </div>

                </div>

                <div class="col-sm-12 col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="cantidad">Cantidad</label>
                    <input class="form-control" formControlName="cantidad"  id="cantidad" type="number" placeholder="Cantidad" [ngClass]="{ 'is-invalid': submitted && f.cantidad.errors }">
                  </div>
                  <div *ngIf="submitted && f.cantidad.errors" class="invalid-feedback">
                    <div *ngIf="f.cantidad.errors.required">El campo es requerido</div>
                  </div>
                </div>
              </div>
            </form>
            <br>
            <button class="btn btn-primary mx-4 float-right" (click)="guardar()"><i class="fa fa-plus"></i> Guardar</button>


            <br>

          </div>
        </div>
      </div>
      <!-- /.col-->
    </div>
    <!-- /.row-->
  </div>
</div>
