{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MaraFront</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'stock/favicon.ico' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <app-root>Loading the app...</app-root>

    <script type="text/javascript" src="{% static 'stock/runtime.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/polyfills.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/styles.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'stock/main.js' %}"></script>
</body>
</html>