<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "large"
  color = "#fff"
  type = "ball-spin-clockwise"
></ngx-spinner>
<app-header></app-header>

<!-- Content here -->
<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">
            <i class="nav-icon icon-speedometer"></i> Dashboard
            <span class="badge badge-primary">NEW</span>
          </a>
        </li>
        <li class="nav-title">Theme</li>
        <li class="nav-item">
          <a class="nav-link" href="colors.html">
            <i class="nav-icon icon-drop"></i> Colors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="typography.html">
            <i class="nav-icon icon-pencil"></i> Typography</a>
        </li>
        <li class="nav-title">Components</li>
        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-puzzle"></i> Base</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" href="base/breadcrumb.html">
                <i class="nav-icon icon-puzzle"></i> Breadcrumb</a>
            </li>

          </ul>
        </li>

        <li class="divider"></li>


      </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
  </div>
  <main class="main">

    <router-outlet></router-outlet>
  </main>
</div>

