/* You can add global styles to this file, and also import other style files */
@import "~@coreui/coreui/scss/coreui";
@import "~bootstrap/scss/bootstrap";
.pagination {
  justify-content: center;
}

.invalid-feedback{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  display: block;
}
