<div class="modal-header">
  <h4 class="modal-title"[innerHtml]="titulo"></h4>
  <button  type="button" *ngIf="closeButton" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p [innerHtml]="mensaje"></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">{{textoBoton}}</button>
</div>
