    <div class="container-fluid">
      <div class="animated fadeIn">

        <br>
        <!-- /.row-->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">Productos</div>
              <div class="card-body">
                <h2>Filtros</h2>
                <form [formGroup]="form">
                  <div class="row">
                    <div class="col-sm-12 col-lg-6 col-md-6">
                      <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input class="form-control" formControlName="nombre"  id="nombre" type="text" placeholder="Nombre">
                      </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 col-md-6">
                      <div class="form-group">
                        <label for="codigo">Código</label>
                        <input class="form-control" formControlName="codigo" id="codigo" type="text" placeholder="Código">
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-lg-6 col-md-6">
                      <div class="form-group">
                        <label for="categoria">Categoría</label>
                        <input class="form-control" formControlName="categoria"  id="categoria" type="text" placeholder="Categoría">
                      </div>
                    </div>

                    <div class="col-sm-12 col-lg-6 col-md-6">
                      <div class="form-group">
                        <label for="unidad">Unidad</label>
                        <input class="form-control" formControlName="unidad"  id="unidad" type="text" placeholder="Unidad">
                      </div>
                    </div>
                  </div>
                </form>
                <br>
                <!-- /.row-->
                <div class="row px-3">
                  <div class="col-8">
                    <h2>Listado</h2>

                  </div>
                  <div class="col-4">

                    <button class="btn btn-primary mx-4" (click)="mostrarImportar = !mostrarImportar"><i class="fa fa-upload"></i> Importar</button>
                    <button class="btn btn-primary mx-4" routerLink="producto"><i class="fa fa-plus"></i> Agregar</button>
                  </div>
                </div>
                <div class="row px-3" *ngIf="mostrarImportar">

                  <angular-file-uploader
                    [config]="afuConfig"
                    (ApiResponse)="DocUpload($event)">
                  >
                  </angular-file-uploader>
                </div>
                <br>
                <table class="table table-responsive-sm table-hover table-outline mb-0">
                  <thead class="thead-light">
                  <tr>

                    <th>Nombre</th>
                    <th>Código</th>
                    <th>Categoría</th>
                    <th>Unidad</th>
                    <th>Costo</th>
                    <th>Venta</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let producto of productos">

                    <td>
                      <div>{{producto.nombre}}</div>
                    </td>
                    <td>
                      <div>{{producto.codigo}}</div>
                    </td>
                    <td>
                      <div>{{producto.categoria_nombre}}</div>
                    </td>
                    <td>
                      <div>{{producto.unidad_nombre}}</div>
                    </td>
                    <td>
                      <div>{{producto.precio_costo}}</div>
                    </td>
                    <td>
                      <div>{{producto.precio_venta}}</div>
                    </td>
                    <td>
                      <div>{{producto.cantidad}}</div>
                    </td>
                    <td class="">
                      <button class="btn btn-sm btn-primary mx-1" (click)="editar(producto)"><i class="fa fa-pencil"></i></button>
                      <button class="btn btn-sm btn-danger mx-1" (click)="borrar(producto)"><i class="fa fa-times"></i></button>
                    </td>
                  </tr>

                  </tbody>

                </table>
                <div class="my-2">
                  <ngb-pagination [collectionSize]="total" (pageChange)="listar($event)" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                </div>
              </div>
            </div>
          </div>
          <!-- /.col-->
        </div>
        <!-- /.row-->
      </div>
    </div>
